.p-proyecto {    
    font-size: 18px;
    line-height: 28px;
    color: #4B5D72;
    font-family: sans-serif;
  }
.miniatura{
    border-radius: 30px;
  }
.miniatura-pic{
    border-radius: 30px;
  }


