.walletfy-icon{
    width: 25%;
}
.anuncio {
    background: #242828;
    background-image: url('../pics/tramita.png');
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 34px 40px;
    height: 127px;
}
.anunciop {
  color: white;
  font-family: 'Harmonia';
  font-size: 20px;
}

.bg-video{
    background-image: url('../pics/tramita.png');
}
.titulo-home {
    font-size: 45px;
    line-height: 55px;
    line-height: 5.5rem;
    font-weight: 600;
    text-align: left;
    color: #38b2e7;
    font-family: 'Righteous', cursive;
}
.titulo-tesis{
    font-size: 45px;
    font-weight: 600;
    color: #38b2e7;
    font-family: 'Righteous', cursive;
  
}
.img-analisis{
    width: 75%;
}
.wallet-li {
    padding-left: 20px;
    margin-bottom: 18px;
    position: relative;
    font-size: large;
    font-family: sans-serif;
    color: #929FAD;
}
.wallet-li-h3{
    font-size: 24px;
}
.li-walletfy-icons{
    color: #0577a9;
    font-size: 2rem;
}

  /* Breakpoint  formato pc, arriba de los 991px*/
@media screen and (max-width: 992px) {
  .mockup-walletfy{
    display: none;
  }
  .walletfy-icon{
        width: 50%;
  }
  .wallet-li {
        margin-bottom: 18px;
        position: relative;
        font-family: sans-serif;
        color: #929FAD;
  }
  .wallet-li-h3{
        font-size: 18px;
  }
  .img-analisis{
        width: 75%;
  }

}

/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
    .img-analisis{
        margin: 2em 0em 4em 0em; /*top-left-bottom-right*/
      }
      .walletfy-icon{
        width: 75%;
      }
      .wallet-li {
        padding-left: 0px;
        margin-bottom: 18px;
        position: relative;
        font-family: sans-serif;
        color: #929FAD;
      }
      .wallet-li-h3{
        font-size: 18px;
      }
      .titulo-home {
        font-size: 35px;
        line-height: 3rem;
        font-weight: 600;
        color: #38b2e7;
        font-family: 'Righteous', cursive;
        margin-bottom: 1em;
      }    
      .titulo-tesis{
        font-size: 35px;
        font-weight: 600;
        color: #38b2e7;
        font-family: 'Righteous', cursive;
      }
}