.title1-blueocean{
    color: #f98d00;
    font-size: 45px;
    font-weight: 600;
}
.title-blueocean{
    color: #f98d00;
    font-size: 35px;
    font-weight: 600;
}
.btn-blueocean{
    background-color: #f98d00;
}
.bg-pasti-blue{
    background-color: #feeeda;
    border-radius: 20px;
      p{
        color: #5d5c5c;
        @extend .project-tech-stack;
      }
}
.li-blueocean{
    @extend .project-funtionalities;
      .li-blueocean-icons{
        color: #e4910b;
        font-size: 2rem;
      }
}
  



  /* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
    .title1-blueocean{
        font-size: 30px;
      }
      .title-blueocean{
        font-size: 30px;
        text-align: center;
      }
      .li-blueocean{
          .li-blueocean-icons{
            color: #e4910b;
            font-size: 1.8rem;
          }
    }
}

  /* Breakpoint formato mobile*/
  @media screen and (max-width: 576px) {
    .title1-blueocean{
        font-size: 24px;
      }
      .title-blueocean{
        font-size: 24px;
      }
      .li-blueocean{
          .li-blueocean-icons{
            color: #e4910b;
            font-size: 1.5rem;
          }
    }
    .btn-blueocean{
      font-size: 14px;
  }
}