.titulo-bsz{
    color: var(--bsz-font-color-green);
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
}
.bg-pasti-bsz{
    background-color: #157347 ;
    border-radius: 20px;  
      p{
        color: #fff;
        @extend .project-tech-stack;
        margin: 1em 0 1em 0;
      }
}
.bsz-li{
    @extend .project-funtionalities;
      .li-bsz-icons{
        font-size: 2rem;
        color: var(--bsz-font-color-green);
      }  
  }


/* Breakpoint  formato pc, arriba de los 991px*/
@media screen and (max-width: 992px) {    
  .bg-pasti-bsz{
    p{
      margin: 2em 1em 1em 1em;
    }
  }
}

/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {  
  .titulo-bsz{
    font-size: 30px;
  }
  .bsz-li{
      .li-bsz-icons{
        font-size: 1.8rem;
        color: var(--bsz-font-color-green);
      }  
  }
  .bg-pasti-bsz{
    p{
      margin: 2em 0 1em 0;
    }
  }
}

 /* Breakpoint formato mobile*/
 @media screen and (max-width: 576px) {  
  .titulo-bsz{
    font-size: 24px;
  }
  .bsz-li{
      .li-bsz-icons{
        font-size: 1.5rem;
        color: var(--bsz-font-color-green);
      }  
  }
  .bg-pasti-bsz{
      p{
        margin: 2em 0 1em 0;
      }
  }  
}