  .titulo-bsz{
    color: #157347 !important;
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
  }
  .bg-pasti-bsz{
    background-color: #157347 ;
    border-radius: 20px;  
      p{
        color: #fff;
        @extend .project-tech-stack;
      }
  }
  .bsz-li{
    @extend .project-funtionalities;
      .li-bsz-icons{
        font-size: 2rem;
        color: #157347;
      }  
  }
  .card-icon-bsz{
    height: 95px;
    width: 95px;
    border-radius: 10px;
    margin: 0px 10px ;
    background-color: rgb(255, 255, 255);
  }
  .sk-icon-bsz{
    height: 75px;
    width: 75px;
  }

  /* Breakpoint  formato pc, arriba de los 991px*/
@media screen and (max-width: 992px) {    
    .sk-icon-bsz{
      height: 75px;
      width: 75px;
    }
    .card-icon-bsz{
      height: 95px;
      width: 95px;
      border-radius: 10px;
      margin: 0px 10px ;
      background-color: rgb(255, 255, 255);
    }
  
  }

  /* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {  
  
  .sk-icon-bsz{
    height: 75px;
    width: 75px;
  }
  .card-icon-bsz{
    height: 95px;
    width: 95px;
    border-radius: 10px;
    margin: 0px 10px ;
    background-color: rgb(255, 255, 255);
  }
  
  }