.avatar-proyecto{
    width: 75% !important;
  }
.experience-li{
  @extend .project-funtionalities;
    p{
      font-size: 22px;
      font-weight: 600;
      margin: 0.5em 0;
      color: var(--experience-li-p);
    }
    .bi-check{
      color: #bb0497;
      font-size: 2.5rem;
    }
}


/* Breakpoint  formato pc, arriba de los 991px*/
@media screen and (max-width: 992px) {
    .avatar-proyecto{
      width: 40% !important;
    }
}

/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
    .avatar-proyecto{
        width: 75% !important;
      }
}