footer{
    background: var(--bg-image-intro);
  }
  
.ft-title{
    font-size: 35px;
    font-weight: 600;
    color: var(--p-font-color);
  }
  .p-footer{
    font-size: 20px;
    font-weight: 600;
    color: var(--p-font-color);
  }

  .bi-whatsapp{
    color: var(--p-font-color);
    font-size: 2rem; 
  }
  .bi-linkedin{
    color: var(--p-font-color);
    font-size: 2rem; 
  }
  .bi-envelope{
    color: var(--p-font-color);
    font-size: 2rem; 
  }
  .bi-github{
    color: var(--p-font-color);
    font-size: 2rem; 
  }
  
/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
  .ft-title{
    font-size: 30px;
  }
    .social-icon{
      margin: 0em 1em 0em 1em;
    }
    .p-footer{
      font-size: 20px;
      font-weight: 500;
    }
  
  }

  /* Breakpoint formato tablet*/
@media screen and (max-width: 576px) {
  .ft-title{
    font-size: 24px;
  }
  .p-footer{
    font-size: 18px;
  }

}