.bg-intro2{
  background-color: var(--bg-color-intro);
  background-image: var(--bg-image-intro);
  background-attachment: fixed;
  background-size: cover;
}
.titulo-intro {
    font-size: 60px;
    line-height: 55px;
    line-height: 5.5rem;
    font-weight: 600;
    color: var(--intro-font-color);
  }
  .sub-intro{
    font-size: 35px;
    line-height: 55px;
    line-height: 5.5rem;
    font-weight: 600;
    color: var(--intro-font-color);
  }
  .avatar-perfil{
    width: 25% !important;
  }

  /* Breakpoint  formato pc, arriba de los 991px*/
@media screen and (max-width: 992px) {
    .titulo-intro {
        font-size: 45px;
        line-height: 55px;
        font-weight: 600;
        color: var(--intro-font-color);
        margin-top: 1em;
      }
      .sub-intro{
        font-size: 35px;
        line-height: 55px;
        font-weight: 600;
        color: var(--intro-font-color);
        margin-top: 1em;
      }
    .avatar-perfil{
        width: 40% !important;
      }
}

/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
    .titulo-intro {
        font-size: 40px;
        line-height: 55px;
        font-weight: 600;
        color: var(--intro-font-color);
        margin-top: 1em;
      }
      .sub-intro{
        font-size: 30px;
        line-height: 55px;
        font-weight: 600;
        color: var(--intro-font-color);
        margin-top: 1em;
      }
    .avatar-perfil{
        width: 50% !important;
      }
}

/* Breakpoint formato mobile*/
@media screen and (max-width: 576px) {
  .titulo-intro {
      font-size: 30px;
      line-height: 55px;
      font-weight: 600;
      color: var(--intro-font-color);
      margin-top: 1em;
    }
    .sub-intro{
      font-size: 22px;
      line-height: 55px;
      font-weight: 600;
      color: var(--intro-font-color);
      margin-top: 1em;
    }

}