.title1-kyber{
    color: var(--kyber-font-color);
    font-size: 45px;
    font-weight: 600;
  }
.btn-kyber{
    color: var(--btn-kyber-color);
    background-color: var(--btn-kyber-bg);
    text-decoration: none;
    padding: 8px 20px;
    border: 1px solid #2d2d2d;
    border-radius: 7px;
    &:hover{
      color: #ffffff;
      background-color: #2d2d2d;
    }
}
.bg-pasti-kyber{
    background-color: #202020;
    border-radius: 20px;
      p{
        color: #fff;
        @extend .project-tech-stack;
        margin: 1em 0 1em 0;
      }
  }

.title-kyber{
    color: var(--kyber-font-color);
    font-size: 35px;
    font-weight: 600;  
    margin-bottom: 1em;
}
.li-kyber{
    @extend .project-funtionalities;
      .li-icons-kyber{
        color: var(--kyber-icon-color);
        font-size: 2rem;
      }
}
.border-kyber{
    border-radius: 30px;
  }



/* Breakpoint  formato pc, arriba de los 991px*/
@media screen and (max-width: 992px) {
      .title-kyber{
        font-size: 35px;
        text-align: center;
        margin: 2em 0;
      }
      .bg-pasti-kyber{
        p{
          margin: 2em 1em 1em 1em;
        }
      }
}


/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
      .border-kyber{
        border: 1px solid rgba(124, 124, 124, 0.523)
      }
      .title1-kyber{
        font-size: 30px;
      }
      .title-kyber{
        font-size: 30px;
        text-align: center;
        margin: 2em 0;
      }
      .li-kyber{
          .li-icons-kyber{
            font-size: 1.8rem;
          }
      }
      .bg-pasti-kyber{
        p{
          margin: 2em 0 1em 0;
        }
      }
}

/* Breakpoint formato mobile*/
@media screen and (max-width: 576px) {
  .title1-kyber{
    font-size: 24px;
  }
  .title-kyber{
      font-size: 24px;
      text-align: center;
      margin: 2em 0;
  }
  .li-kyber{
      .li-icons-kyber{
        font-size: 1.5rem;
      }
  }
  .bg-pasti-kyber{
    p{
      margin: 2em 0 0 0;
    }
  }
}