.title1-kyber{
    color: var(--kyber-font-color);
    font-size: 45px;
    font-weight: 600;
  }
  .btn-kyber{
    color: var(--btn-kyber-color);
    background-color: var(--btn-kyber-bg);
    text-decoration: none;
    padding: 8px 20px;
    border: 1px solid #2d2d2d;
    border-radius: 7px;
    &:hover{
      color: #ffffff;
      background-color: #2d2d2d;
    }
  }
.bg-pasti-kyber{
    background-color: #202020;
    border-radius: 20px;
      p{
        color: #fff;
        @extend .project-tech-stack;
      }
  }
  .card-icon-kyber{
    height: 95px;
    width: 95px;
    margin: 10px 10px ;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }
  .sk-icon-kyber{
    height: 60px;
    width: 60px; 
  }
   .title-kyber{
    color: var(--kyber-font-color);
    font-size: 35px;
    font-weight: 600;  
    margin-bottom: 1em;
  }
  .li-kyber{
    @extend .project-funtionalities;
      .li-icons-kyber{
        color: var(--kyber-icon-color);
        font-size: 2rem;
      }
  }
  .border-kyber{
    border-radius: 30px;
  }
  



  /* Breakpoint  formato pc, arriba de los 991px*/
@media screen and (max-width: 992px) {
    .card-icon-kyber{
        height: 95px;
        width: 120px;
        margin: 10px 10px ;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
      }
      .sk-icon-kyber{
        height: 60px;
        width: 60px; 
      }
      .title-kyber{
        margin-top: 1em;
      }
}


/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
    .border-kyber{
        border: 1px solid rgba(124, 124, 124, 0.523)
      }
      
      .card-icon-kyber{
        height: 95px;
        width: 120px;
        margin: 10px 50px ;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
      }
      .sk-icon-kyber{
        height: 50px;
        width: 50px; 
      }
}

/* Breakpoint formato tablet*/
@media screen and (max-width: 576px) {
    .card-icon-kyber{
      height: 95px;
      width: 120px;
      margin: 10px 10px ;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
    }
    .sk-icon-kyber{
      height: 50px;
      width: 50px; 
    }
  
  }