.project-subtitle{
  font-size: 18px;
  line-height: 30px;
  color: var(--p-font-color);
  text-align: center;
  margin: 2em 3em 2em 3em ;
}
.miniatura{
    border-radius: 30px;
  }
.miniatura-pic{
    border-radius: 30px;
  }


    .miniatura {
      transition: transform 0.2s ease-in-out;
    }
    
    .miniatura:hover {
      transform: scale(1.1);
    }
    
    .miniatura:active {
      animation: bounce 0.2s;
    }
    
    @keyframes bounce {
      0% {
        transform: scale(1.1);
      }
      50% {
        transform: scale(0.9);
      }
      100% {
        transform: scale(1);
      }
    }

/* Breakpoint formato mac*/
@media screen and (max-width: 995px) {
  .project-subtitle{
    margin: 4em 1em 5em 1em ;
  }
  .projects-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    padding: 0 5em;
  }
  .miniatura-pic{
    max-width: 100%;
  }
}  
/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
  .project-subtitle{
    font-size: 16px;   
    margin: 4em 0 5em 0 ;
  }
  .projects-wrapper{
      padding: 0 4em;
  }
  .miniatura:hover {
    transform: none;
    pointer-events: none;
  }
}
/* Breakpoint formato tablet*/
@media screen and (max-width: 576px) {
  .project-subtitle{
    font-size: 14px;   
    margin: 3em 1em 4em 1em ;
  }
  .projects-wrapper{
      padding: 0 1em;
  }
  .miniatura:hover {
    transform: none;
    pointer-events: none;
  }
}
/* Breakpoint formato tablet*/
@media screen and (max-width: 420px) {
  .projects-wrapper{
      padding: 0 1em;
  }
  .miniatura:hover {
    transform: none;
    pointer-events: none;
  }
}