.walletfy-icon{
    width: 25%;
}
.btn-landing{
  background-color: #fff;
  color: #38b2e7;
  border-color: #38b2e7;
  text-decoration: none;
}
.bg-walletfy-pasti {
    background: #012738;
    background-image: url('../../pics/tramita.png');
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 0 1em;
      p{
        color: #fff;
        @extend .project-tech-stack 
      }
}
.bg-video{
    background-color: var(--walletfy-bg-video);
    background-image: url('../../pics/tramita.png');
}
.titulo-home {
    font-size: 45px;
    line-height: 55px;
    line-height: 5.5rem;
    font-weight: 600;
    text-align: left;
    color: #38b2e7;
}
.titulo-tesis{
    font-size: 45px;
    font-weight: 600;
    color: #38b2e7;  
}
.img-analisis{
    width: 75%;
}
.wallet-li {
    @extend .project-funtionalities;
    border-radius: 5px;
      p{
        margin: 0.5em 0;
      }
      .li-walletfy-icons{
      color: #0577a9;
      font-size: 2rem;
      }

}


/* Breakpoint  formato pc, arriba de los 991px*/
@media screen and (max-width: 992px) {
    .mockup-walletfy{
      display: none;
    }
    .walletfy-icon{
          width: 50%;
    }
    .wallet-li {
          margin-bottom: 18px;
          position: relative;
          color: #929FAD;
    }
    .wallet-li-h3{
          font-size: 18px;
    }
    .img-analisis{
          width: 75%;
    }
    .bg-walletfy-pasti {
        p{
          margin: 2em 1em 1em 1em;
        }
    }
}

/* Breakpoint formato tablet*/
@media screen and (max-width: 768px) {
    .img-analisis{
        margin: 2em 0em 4em 0em; /*top-left-bottom-right*/
      }
      .walletfy-icon{
        width: 75%;
      }
      .wallet-li {
        padding-left: 0px;
        margin-bottom: 18px;
        position: relative;
        color: #929FAD;
      }
      .wallet-li-h3{
        font-size: 18px;
      }
      .titulo-home {
        font-size: 30px;
        line-height: 3rem;
        font-weight: 600;
        color: #38b2e7;
        margin-bottom: 1em;
      }    
      .titulo-tesis{
        font-size: 30px;
        font-weight: 600;
        color: #38b2e7;
      }
      .wallet-li {
          .li-walletfy-icons{
          color: #0577a9;
          font-size: 1.8rem;
          }   
      }
      .bg-walletfy-pasti {
        p{
          margin: 2em 0 1em 0;
        }
      }
}

/* Breakpoint formato mobile*/
@media screen and (max-width: 576px) {
      .wallet-li-h3{
      font-size: 18px;
      }
      .titulo-home {
        font-size: 24px;
        line-height: 3rem;
        font-weight: 600;
        color: #38b2e7;
        margin-bottom: 1em;
      }    
      .titulo-tesis{
        font-size: 24px;
        font-weight: 600;
        color: #38b2e7;
      }
      .wallet-li {
        .li-walletfy-icons{
        color: #0577a9;
        font-size: 1.5rem;
        }
      }
      .btn-app{
        font-size: 14px;
        margin: 1em 0;
      }
      .btn-landing{
        font-size: 14px;
        margin: 1em 0;
      }
}
