@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.App {
  text-align: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  background-color: rgb(52, 110, 91);
}

ul{
    list-style-type: none;
}

.btn-wsp{
  background: #9d037e;
  border-radius: 50px;
  bottom: 25px;
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
  color: #fff;
  font-size: 40px;
  height: 60px;
  line-height: 58px;
  position: fixed;
  right: 25px;
  text-align: center;
  transition: all .3s ease;
  width: 60px;
  z-index: 100;
}


